.Pokemon_TypeRelations_Wrapper .Pokemon_TypeRelations {
  padding: 0 0 10px;
  margin: 0 0 10px;
  /* border-bottom: 1px solid #eee; */
}

.Pokemon_TypeRelations_Wrapper .Pokemon_TypeRelations:last-of-type {
  border-bottom-width: 0
}

.Pokemon_TypeRelations_Wrapper .Pokemon_TypeRelations h4 {
  display: inline-block;
  margin-top: 10px;
  width: 150px;
}

.Pokemon_TypeRelations_Wrapper .Pokemon_TypeRelations_Column {
  display: inline-flex;
  width: calc(100% - 160px);
  margin-left: 10px;
  flex-wrap: wrap;
}

.Pokemon_TypeRelations_Wrapper .Pokemon_TypeRelations_Column .ColorBox {
  margin-left: 8px;
  margin-right: 8px;
}