.Pokemon_Header {
  display: flex;
}

.Pokemon_Image {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Pokemon_Image img {
  vertical-align: middle;
}

.Pokemon_Title {
  margin-left: 30px;
  text-transform: capitalize;
}