.PokemonList_item {
  display: inline-block;
  width: 150px;
  height: 150px;
  padding: 10px 0 0 0;
  border-radius: 4px;
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.19);
  margin: 5px;
  text-align: center;
  cursor: pointer;
}

.PokemonList_itemName {
  display: block;
  text-transform: capitalize;
}