.Card_item {
  display: inline-block;
  height: auto;
  width: calc(25% - 10px);
  padding: 10px 0 40px;
  border-radius: 4px;
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.19);
  margin: 5px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.Card_item .img {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.Card_itemName {
  display: block;
  text-transform: capitalize;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
}